.container{
background-color:blueviolet;
position: relative;
width: 100%px;
height: 145px;
display: flex;
justify-content: center;
flex-direction: row;

}
.container .mainn{
    position: relative;
    height: auto;
    width: 1320px;
 padding: 20px 0px 14px;
}
.mainn .top{
    display: flex;
    justify-content: space-between;
    width: 100%;
  
   
}
.mainn .bott{
    width: 1320px;
    height: 30px;
    border-top: 1px solid rgb(76, 66, 66);
    align-items: center;
    display: flex;
    flex-direction: row;
   
}
.top .search{
   border-radius: 6px;
background: rgba(255, 255, 255, 1);
width: 651px;
height: 50px;
display: flex;
flex-direction: row;
}
.search .searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 651px;
}
.list select{

align-items: center;
border: none;
}
.searchbox .list{
    display: flex;
    flex-direction: row;
border-right: 1px solid rgb(70, 61, 61);
width: auto;

padding: 12px 17px;
}
.list{
    display: flex;
    align-items: center;
}
.search input{
    margin-left: 16px;
    border: none;
    outline: none;

}
.search .lupa{
    width: 50px;
    height: 50px;
    border-radius: 0px 6px 6px 0px;
background: rgba(245, 195, 75, 1);
justify-content: center;
align-items: center;
display: flex;

}
.topmanyu{
    width: 451px;
    height: 50px;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topmanyu .boxheart{
   
    position: relative;
    display: flex;
    flex-direction: row;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 6px;
width: 50px;
justify-content:center;
align-items: center;
}
.topmanyu .info{
    display: flex;
    flex-direction: column;

}
.info{

    color: rgba(255, 255, 255, 1);
font-family: "Jost";
font-size: undefinedpx;
font-weight: undefined;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
align-items: center;
justify-content:flex-end;

}
.topmanyu{
    justify-content: space-around;
}
.basketcount{

background-color: 
rgba(245, 195, 75, 1);
border-radius: 50%;
width: 15px;
height: 15px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
line-height: 10px;

position: absolute;
top: 0px;
right: 0px;
}

.brows{
  margin-top: 12px;
width: 185px;
height: 30px;
border-right: 1px solid  rgb(55, 47, 47);


}

.brows span{
   border-right: 1px solid color: rgba(255, 255, 255, 1);;
    font-family: "Jost";
font-style: Medium;
font-size: 16px;
font-weight: 500;
color: rgba(255, 255, 255, 1);

}
.bott .home{
    margin-left: 9px;
    margin-top: 12px;
width: 361.71px;
height: 28px;
color: rgba(255, 255, 255, 1);
font-family: "Jost";
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.bott .deal{
width: 462px;
height: 28px;

color: rgba(255, 255, 255, 1);


font-family: "Jost";
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: right;
}
.bott .home{
  

display: flex;
justify-content: space-between;

}
.deal{
   
margin-top: 12px;
font-family: "Jost";
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: right;

margin-left: 299px;

display: flex;
flex-direction: row;
justify-content: space-between;
}
.top{
    position: relative;
    margin-bottom: 20px;
}








.specialoffer{
    flex-direction: row;
    display: flex;
    gap:26px;
    margin-top: 47px;
    justify-content: center;
}
.offer{
    position: absolute;
 margin-top: 101px;
    margin-left: 15px;
}

.offer button{
    
width: 104px;
height: 30px;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 10px;
padding: 4px 14px 4px 14px;

border-radius: 6px;
background: rgba(245, 195, 75, 1);
}


.specialoffer .bigbox{
    position: relative;
width: 871px;
height: 508px;
background: rgba(0, 83, 246, 1);
display: flex;
flex-direction: column;

}

.immersive{

margin-left: 15px;
margin-top: 170px;
color: rgba(255, 255, 255, 1);



}

.discover{
   
    margin-top: 7px;
    margin-left: 15px;
 /* Discover our new items. Up to 25% Off ! */
width: 262px;
height: 56px;
color: rgba(255, 255, 255, 1);

font-family: "Jost";
font-style: Medium;
font-size: 13px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.now button{
    margin-top: 20px;
margin-left: 15px;
width: 140px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 10px;
padding: 15px 35px 15px 35px;
}

.tv{
    position: absolute;
margin-top: 68px;
margin-left: 330px;
width: 519.51px;
height: 407px;
background-image: url(./images/icons/header_img.svg);
}





.small{
    display: flex;
    flex-direction: column;

    gap: 28px;
}



.smallbox1{
width: 422.4px;
height: 240px;
display: flex;
flex-direction: row;
background: rgba(242, 242, 242, 1);
}
.smallbox1 .health{
    display: flex;
    flex-direction: column;
    
width: 186px;
height: 240px;
}
.health .from{
    color: rgb(11, 87, 239);

font-family: "Jost";
font-size: 15px;
font-weight: undefined;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
margin-top: 51px;
margin-left:37px ;
}

.health .monitor{
    color: rgba(4, 30, 66, 1);
margin-left: 37px;

font-family: "Jost";
font-style: Medium;
font-size: 26px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}

.health .shopnow{
width: 122.3px;
height: 27px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 3px;

margin-left: 37px;
}

.smallbox1 .iwatch{
width: 236px;
height: 240px;

background: url(./images/icons/smart_watch.svg);
}








.smallbox2{
display: flex;
flex-direction: row;

width: 422.4px;
height: 240px;

background: rgba(242, 242, 242, 1); 
}

.smallbox2 .health2{
    width: 181px;
    display: flex;
    flex-direction: column;
}

.health2 .from2{
    color: rgb(11, 87, 239);

font-family: "Jost";
font-size: 15px;
font-weight: undefined;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
margin-top: 51px;
margin-left:37px ;
}

.health2 .monitor2{
    z-index: 2;
    color: rgba(4, 30, 66, 1);
margin-left: 37px;

font-family: "Jost";
font-style: Medium;
font-size: 26px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.health2 .shopnow2{
width: 122.3px;
height: 27px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 3px;

margin-left: 37px;
}

.smallbox2 .iwatch2{
width: 236px;
height: 240px;

background: url(./images/icons/smart_watch.svg)
}





.free{
    width: 1320px;
    height: 77px;
    justify-content: space-around;
    border-bottom: 2px solid rgba(234, 234, 234, 1);
   
    margin-left: 95px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.free .truckicon{
  margin-right: 10px;
  margin-top: 0px;
}

.free .shipping{
    /* info */
width: 216.06px;
height: 77px;
margin-right: 10px;
}

.free .shipping{

    display:flex;
    flex-direction: column;
    justify-content: center;
}

.shipping strong{
    margin-bottom:6px;
}
.shipping span{
    padding-bottom: 10px;
    color: rgba(98, 105, 116, 1);
}
